<% breadcrumb :edit_question,@question %>
<div class="container">
  <%= render "form" %>
  <div class="question-delete d-flex justify-content-center">
    <%= link_to "質問削除",question_path(@question),method: :delete,data:{confirm:"本当に削除しますか？"},class: "btn btn-danger" %>
  </div>
</div>