<div class="container">
  <h1>ユーザー一覧</h1>
  <%= sort_link(@q,:best_answers_count,"ベストアンサーランキング",default_order: :desc) %>
  <% @users.each do |user| %>
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <td>
            <%= link_to user.name,user_path(user),class:"btn" %>
            <span class="best_answer">ベストアンサー <%= user.best_answers_count %></span>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
  <div>
    <%= paginate @users %>
  </div>
</div>