<h1>ユーザー一覧</h1>
<%= sort_link(@q,:best_answers_count,"ベストアンサーランキング",default_order: :desc) %>
<% @users.each do |user| %>
  <div>
    <%= link_to user.name,user_path(user) %>
    <%= user.best_answers_count %>
  </div>
<% end %>
<div>
    <%= paginate @users %>
</div>