input[type='text']:focus {
  outline: none;
}

textarea{
  background-color: #f5f5f5;
}

textarea:hover {
  resize: none;
  background-color: #ebebeb;
}

textarea:focus {
  background-color: #FFFFFF;
}

.form-group{
  margin-top: 3rem;
}

.title-field{
  width: 40vw;
  border: none;
  border-bottom: 1px solid #1b2538;
}

.title-field:focus{
  border-bottom: 2px solid #1b2538;
}

.details-field{
  width: 40vw;
  height: 30vh;
  margin-top: 5vh;
}

.answer-field{
  width: 50vw;
  height: 30vh;
}

.answer-btn{
  margin-bottom: 1rem;
}

.check_boxes{
  width: 40vw;
}

#q-show{
  padding: 10px;
  border-bottom: 2px solid;
}

#a-show{
  padding: 5px;
  border-top: 1px solid;
}

.navbar .btn{
  color: #FFF;
}

.navbar .btn:hover{
  color: #aaa;
}

input::-webkit-input-placeholder{
  font-size: 13px;
}

.table-responsive{
  padding-top: 1vh;
}

.best_answer{
  color: #F08A92;
}

.question-delete{
  margin-top: 1vh;
}

.user-delete{
  margin-top: 1vh;
}